*.swp
.CFUserTextEncoding
.DS_Store
.NERDTreeBookmarks
.Trash/
.android/
.atom/
.bash_history
.cache
.composer/
.config/configstore/
.config/gtk-2.0/
.cordova/
.dropbox/
.gem/
.heroku/
.histfile
.ionic/
.lesshst
.local/
.netrc
.node-gyp/
.npm/
.plugman/
.ssh
.v8flags.3.28.73.pt.json
.vim/.netrwhist
.vim/bundle/
.viminfo
.viminfo.tmp
.vnc
/Applications/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Library/
/Movies/
/Music/
/Pictures/
/Public/
