[core]
  excludesfile = /home/ptarjan/.gitignore

### colors are meant for a dark terminal
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[color "branch"]
  current = white blue bold
  local  = blue
  remote = green
[color "diff"]
  plain = white
  meta = yellow bold
  frag = magenta bold
  old = red
  new = green
  whitespace = red blink
[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[alias]
  bb = bisect bad
  bg = bisect good
  br = branch
  gr = grep -i
  ca = commit --amend -a -C HEAD
  co = checkout
  st = status
  di = diff
  edit = !$EDITOR `git diff HEAD^ --name-only`
  gcbr = !git branch --no-color --no-track --merged | sed 's/[ *]*//' | grep -v master | xargs -n1 git branch -d || exit 0
  rall = "!git stash -u; git branch --no-color --no-track | sed 's/[ *]*//' | grep -v master | xargs -I % sh -c 'git co %; git u; git r; git ra; git reset --hard; git clean -f; git clean -fdx'"
  n = checkout origin/master -b
  r = rebase
  f = fetch
  p = push
  s = svn dcommit
  rc = !git add . && git rebase --continue
  ra = rebase --abort
  rbi = rebase -i
  vim = !bash -c 'vim $(git diff --name-only "$1")' -
  u = branch --set-upstream-to=origin/master

[svn]
  followparent = true
  rmdir = true

[user]
  name = ptarjan
  email = github@paulisageek.com
[log]
  date = relative
[blame]
  date = short
[diff]
  renames = true
  mnemonicprefix = true
[merge]
  tool = emerge
[status]
  # relativePaths = false
[rebase]
  stat = true
[gc]
  auto = 0
[credential]
  helper = osxkeychain
[push]
  default = simple
