.NERDTreeBookmarks
.arcrc
.bash_history
.hive_completions
.hive_history
.hphp
.hphp.bak
.hphpd.*
.hphpd.history
.irb-save-history
.lesshst
.loginouthistory
.mozilla
.mysql_history
.pyhistory
.snapshot
.ssh/
.tags
.vim-fuf-data/
.vim/.netrwhist
.viminfo*
.vnc
backup
hacks
local
other-git
tags
tmp
www
www-git
